/*limpando as formatacoes padroes*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;/*corresponde a 16px, o padrao que vem nos documentos*/
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #e6e6e6;
}

/*
**** Layout****
*/
#area-cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}
#area-logo, #area-menu{
    padding: 10px;
}
/* #area-principal, #area-postagens{
    background: white;
} */
#area-principal{
    /* background: white; */
    width: 920px;/*tabalho padrao bastante utilizado no mercado atualmente.*/
    margin: 10px auto;/* 10px acima e abaixo(top e botton) e automatica para as laterais, ou seja, centraliza o conteudo*/
    /*obs: vai centralizar com a janela do pc totalmente aberta com os 920px*/
    padding: 15px;
}
#area-postagens{
    width: 660px;
    float: left;
}
#area-lateral{
    
    width: 240px;
    float: right;
}


.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.conteudo-lateral{
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.postagem-lateral{
    font-size: 00.8em;
    padding: 5px;
    border-bottom: 1px dotted #CCC;
}
    
#rodape{
    
    clear: both;/*importantissimo colocar isso, pq como esta proximo de elementos que usam float, acabaria se misturando, como o clear ele limpa.*/
    padding: 15px;
    background: #CCC;
    text-align: center;
}

/*
**** Formatações do menu ****
*/
a{
    text-decoration: none;


}
a:link, a:visited{
    color: #f7b600;
    
}
a:hover{
    text-decoration: underline;
    background-color: white;
    
}

#area-cabecalho a:link,#area-cabecalho a:visited{
    color: #FFF;
    padding: 8px 12px;
}
#area-cabecalho a:hover{
    color: #f7b600;
    background-color: white;
    text-decoration: none;
    
}

/*
**** Formatações gerais ****
*/
h1{
    color: #4e4e4e;
    font-size: 2.5em;
}
h2{
    color: #f7b600;
}

h3{
    color: #565656;
    background-color: #CCC;
    padding: 5px;
}
.branco{
    color: white;
}
.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}




/*
***** Anotaçoes diversas *****

obs1: utilizamos o float como forma de distribuir os dois elementos area-postagens e area-lateral do conteudo principal da pagina. Lembrando que os elementos com float sao distribuidos de acordo com os seu conteiner pai.

obs2: interessante perceber que há maneiras diferentes de configurações de links no documento.
*/